
.weather-container{
    /* background-color: cyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-container .weather-header{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weather-container .weather-header .weather-label{
    /* background-color: lightsalmon; */
    color: orange;

}

.weather-container .weather-header .weather-search-container{
    /* background-color: green; */
    display: flex ;
    width: 45%;
}


.weather-search-form{
    width: 80%;
    display: flex;
    gap: 20px;
    /* background-color: pink; */
}

.submit-btn{
    width: 20%;
    background-color: orange;
    border: 1px solid white;
    border-radius: 10px;
}

.search-bar{
    height: 40px;
    width: 80%;
    border: 1px solid orange;
    border-radius: 10px;
    
}

@media screen and (max-width:1000px) {
    .weather-container .weather-header{
        /* background-color: cyan; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .weather-container .weather-header .weather-label{
        width: 100%;
        /* background-color: pink; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .weather-container .weather-header .weather-search-container{
        width: 100% ;
        /* background-color: green; */
    }
}


.weather-container .weather-body{
    /* background-color: blue; */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}




.weather-container .weather-body{
    /* background-color: lightgreen; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 30px;
    /* padding-right: 30px; */



}

.weather-item{
    /* background-color: blue; */
    width: 15%;
    flex: 1 1 300px;
}

.weather-table-item{
    width: 100%;
    /* height: 100%; */
}

/* .card{
    width:900px;
    height:500px;
    margin:auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #c07839, #d13114);
    display: flex;
    justify-content: center;
    align-items: top;

}

.card-title {
    color: orange;
    font-size: 50px;
    margin-bottom: 10px;
}

input[type='submit']{
    background-color: #c07839;
    border-radius: 15px;
    padding:15px
}

input[type='text']{
    border-radius: 15px;
    padding:15px;
}

.tb,th{
    border: 1px solid black;
}

@media(max-width:768px){
    .card{
        width:100%
    }
}

@media(max-width:200px){
    input[type='submit']
    {
        width:100%
    }
}

@media(max-width:200px){
    input[type='text']
    {
        width:100%
    }
} */
